.container{
    text-align: center;
    padding: 2%;
    font-family: Cambria;
}


.header{
    color: white;
    padding: 4%;
    margin: 1%;
}

.articles-container{

}



.article{
    padding: 2%;
    margin: 1%;
}

.article-title{
    font-weight: bolder;
    padding: 1%;
}

.article-content{}

.color-item{
    padding: 3%;
    margin: 1%;
}

.bgc-blue{background-color: rgb(60,138,228)}
.bgc-yellow{background-color: rgb(231,187,93)}
.bgc-green{background-color: rgb(93,231,190)}
.bgc-pink{background-color: rgb(231,93,127)}
.bgc-silver{background-color: silver}

@media screen and (min-width: 576px){

    .articles-container{
        display: flex;
        flex-flow: row wrap;
    }
    .article{
        flex: 1 1 40%;
    }

    .colors-container{
        display: flex;
        flex-flow: row wrap;
    }
    .color-item{
        flex: 1 1 40%;
    }
}


@media screen and (min-width: 768px){

    .articles-container{
        display: flex;
        flex-flow: row;
    }

    .colors-container{
        display: flex;
        flex-flow: row wrap;
    }
    .color-item{
        flex: 1 1 25%;
    }
}